<a href="https://colab.research.google.com/github/Shubhamprdd/python-learning/blob/main/Learning202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Basic Form**

In [ ]:
name= input("Enter your name: ")
age = input("Enter your age: ")
print("Hello" + " " + name + "." + " " + "Your are"+ " " + age + " " + "2years old.")

Enter your name: kelly
Enter your age: 24
Hello kelly. Your are 24 years old.

# **Basic Calculator**

In [ ]:
no1 = input("Enter a number: ")
no2 = input("Enter another number: ")
sum = int(no1) + int(no2)
print("The sum of ",no1, "amd", no2, "is:", sum)

Enter a number: 99
Enter another number: 1
The sum of  99 amd 1 is: 100

# Basis **Function**

In [ ]:
def say_hi(name,age):
  print("Hello", name + "." + " " + "You are", age, "years old.")

say_hi("Alice","20")

Hello Alice. You are 20 years old.

**Return function**

In [ ]:
def cube(num):
  return num*num*num

cube(2)

8

# **IF**

In [ ]:
def max_num(num1, num2,num3):
  if num1>=num2 and num1>=num3:
    return num1
  elif num2>=num1 and num2>=num3:
    return num2
  else:
    return num3

max_num(44,55,66)

66

# **Betteer Calculator**

In [ ]:
no1 = float(input("Enter first number: "))
op = (input("Enter an operator: "))
no2 = float(input("Enter second number: "))

if op == "+":
  print(no1 + no2)
elif op == "-":
  print(no1 - no2)
elif op == "*":
  print(no1 * no2)
elif op == "/":
  print(no1 / no2)
else:
  print("Invalid Operator")

Enter first number: 99
Enter an operator: /

# **While Loop**

In [3]:
i = 1
while i<=10:
  print(i)
  i += 1

print("Done with Loop")

1
2
3
4
5
6
7
8
9
10
Done with Loop

# **Guess The Secret Word Game**

In [5]:
secret_word = "banana"
guess = ""

while guess != secret_word:
  guess = input("Enter your guess: ")

print("You Win!")

Enter your guess: banana
You Win!

Advance Guess Game

In [9]:
secret_word = "banana"
guess = ""
guess_count = 0
guess_limit = 3
out_of_guess = False

while guess != secret_word and not(out_of_guess):
  if guess_count < guess_limit:
    guess = input("Enter your guess: ")
    guess_count += 1

  else:
    out_of_guess = True

if out_of_guess:
  print("No more guess. You Lose.")

else:
  print("You Win!")

Enter your guess: banana
You Win!