<a href="https://colab.research.google.com/github/Shubhamprdd/python-learning/blob/main/Learning101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **STRING**

In [ ]:
'python'

'python'

In [ ]:
type('python')

str

In [ ]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [ ]:
role = 'data analyst'
skill = 'python'
print(role, skill)

data analyst python

In [ ]:
role = 'data analyst'
skill = 'python'
f"role: {role}, skill required: {skill}"

'role: data analyst, skill required: python'

In [ ]:
"role: %s, skill required: %s" % (role, skill)

'role: data analyst, skill required: python'

# **Mathematical Operations**

In [ ]:
year_experience = '02122020'
','.join(year_experience)

'0,2,1,2,2,0,2,0'

In [ ]:
5+2

7

In [ ]:
5/2

2.5

In [ ]:
5//2

2

In [ ]:
5%2

1

In [ ]:
min_salary = 200000
max_salary = 800000

avg_salary = (min_salary + max_salary) / 2
avg_salary

500000.0

# **Assign Operators**

In [ ]:
applicant_1 = 'Kelly'
applicant_2 = 'Luke'

applicant_1, applicant_2 = applicant_2, applicant_1
applicant_1, applicant_2

('Luke', 'Kelly')

In [ ]:
x = 5
x += 2
x

7

In [ ]:
x = 5
x *= 2
x

10

In [ ]:
kelly_salary = 200000
luke_salary = 800000

kelly_salary == luke_salary

False

In [ ]:
if kelly_salary < luke_salary:
    print('Luke is paid more than Kelly by: ' + str(luke_salary - kelly_salary))

Luke is paid more than Kelly by: 600000

In [ ]:
job_skill = 'SQL'
applicant_skill = 'Python'
year_experience = 6

In [ ]:
if job_skill == applicant_skill:
    print('Skill Match!')
elif year_experience >= 5:
    print('Enough Experience; No SQL')
elif applicant_skill == 'python':
    print('Knows Python No SQL')
else:
    print('No Skill or Experience')

Enough Experience; No SQL

# **LIST**

In [ ]:
job_skill = ['sql', 'tableau', 'excel']

In [ ]:
job_skill.append('python')
job_skill

['sql', 'tableau', 'excel', 'python']

In [ ]:
job_skill.remove('tableau')
job_skill

['sql', 'excel', 'python']

In [ ]:
len(job_skill)

3

In [ ]:
job_skill.insert(2, 'tableau')
job_skill

['sql', 'excel', 'tableau', 'python']

In [ ]:
job_skill.pop(2)
job_skill

['sql', 'excel', 'python']

In [ ]:
job_skill.pop()
job_skill

['sql', 'excel']

In [ ]:
job_skill.insert(2, 'python')
job_skill

['sql', 'excel', 'python']

In [ ]:
job_skill[0:3]

['sql', 'excel', 'python']

In [ ]:
job_skill[:]

['sql', 'excel', 'python']

In [ ]:
job_skill[:1]

['sql']

In [ ]:
job_skill[1:]

['excel', 'python']

In [ ]:
job_skill[::]

['sql', 'excel', 'python']

In [ ]:
job_skill[::1]

['sql', 'excel', 'python']

In [ ]:
job_skill[::2]

['sql', 'python']

In [ ]:
job_skill[::3]

['sql']

In [ ]:
luke_skills = ['python', 'bigquery', 'r']
kelly_skills = ['python','sql', 'looker']

In [ ]:
all_skills = luke_skills + kelly_skills
all_skills

['python', 'bigquery', 'r', 'python', 'sql', 'looker']

In [ ]:
all_skills[::2]

['python', 'r', 'sql']

In [ ]:
all_skills[5]

'looker'

In [ ]:
all_skills[-1]

'looker'

In [ ]:
all_skills[:-2]

['python', 'bigquery', 'r', 'python']

In [ ]:
all_skills[-2:]

['sql', 'looker']

In [ ]:
job_skill = ['sql', 'tableau', 'excel']
skill1, skill2, skill3 = job_skill

In [ ]:
skill1

'sql'

In [ ]:
print(skill1)
print(skill2)
print(skill3)

sql
tableau
excel

In [ ]:
#skill_concerned = python and *skills_dont_care = remaining
job_skill = ['sql', 'tableau', 'excel']
skill_concerned, *skills_dont_care = job_skill

In [ ]:
print(skill_concerned)
print(skills_dont_care)

sql
['tableau', 'excel']

# **Dictionaries**

In [ ]:
job_type_skills = {
    'database':'postgres',
    'language':'python',
    'library':'pandas'
    }

In [ ]:
job_type_skills

{'database': 'postgres', 'language': 'python', 'library': 'pandas'}

In [ ]:
job_type_skills['database']

'postgres'

In [ ]:
job_type_skills.keys()

dict_keys(['database', 'language', 'library'])

In [ ]:
job_type_skills.values()

dict_values(['postgres', 'python', 'pandas'])

In [ ]:
job_type_skills.pop('library')

'pandas'

In [ ]:
job_type_skills

{'database': 'postgres', 'language': 'python'}

In [ ]:
job_type_skills.update({'cloud':'google cloud'})

In [ ]:
job_type_skills

{'database': 'postgres', 'language': 'python', 'cloud': 'google cloud'}

In [ ]:
job_type_skills['version_control'] = 'git'

In [ ]:
job_type_skills

{'database': 'postgres',
 'language': 'python',
 'cloud': 'google cloud',
 'version_control': 'git'}

# **Sets**

In [ ]:
job_skills = {'sql', 'tableau', 'excel','statistics'}

In [ ]:
job_skills

{'excel', 'sql', 'statistics', 'tableau'}

In [ ]:
type(job_skills)

set

In [ ]:
job_skills.add('looker')

In [ ]:
job_skills

{'excel', 'looker', 'sql', 'statistics', 'tableau'}

In [ ]:
#Removes a randon value in sets
job_skills.pop()

'looker'

In [ ]:
#To remove a specific value
job_skills.remove('excel')

In [ ]:
job_skills

{'sql', 'statistics', 'tableau'}

In [ ]:
job_skills.add(1)
job_skills

{1, 'sql', 'statistics', 'tableau'}

In [ ]:
job_skills.remove(1)

In [ ]:
job_skills

{'sql', 'statistics', 'tableau'}

# **Converting List to Set**

In [ ]:
#List
job_list = ['python', 'sql', 'tableau', 'excel', 'statistics','python', 'sql', 'tableau', 'excel', 'statistics']

In [ ]:
#Concert it to a Set
set(job_list)

{'excel', 'python', 'sql', 'statistics', 'tableau'}

In [ ]:
job_list

['python',
 'sql',
 'tableau',
 'excel',
 'statistics',
 'python',
 'sql',
 'tableau',
 'excel',
 'statistics']

In [ ]:
type(job_list)

list

In [ ]:
#back to a List
list(set(job_list))

['statistics', 'excel', 'sql', 'python', 'tableau']

# **Tuple**

In [ ]:
luke_skill = ('python', 'tableau', 'sql','statistics')
luke_skill

('python', 'tableau', 'sql', 'statistics')

In [ ]:
type(luke_skill)

tuple

In [ ]:
luke_skill[-2:]

('sql', 'statistics')

In [ ]:
luke_skill = ('python', 'tableau', 'sql','statistics')
print(id(luke_skill))

new_skill = ('excel','power bi')
luke_skill += new_skill

luke_skill
id(luke_skill)

139710168260320

139710173160896

# **Range**

In [ ]:
range(5)

range(0, 5)

In [ ]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [ ]:
# Gives Even numbers between 0 to 100
tuple(range(0,100,2))

(0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98)

# **Logical Operators**

In [ ]:
job_work_from_home = True
job_heatth_insurance = True

job_work_from_home and job_heatth_insurance

True

In [ ]:
job_work_from_home = True
job_heatth_insurance = False

job_work_from_home and job_heatth_insurance

False

In [ ]:
job_work_from_home = True
job_heatth_insurance = True
job_no_degree_mention = True

job_work_from_home and job_heatth_insurance and job_no_degree_mention

True

In [ ]:
job_work_from_home = True
job_heatth_insurance = False
job_no_degree_mention = True

job_work_from_home and job_heatth_insurance and job_no_degree_mention

False

In [ ]:
job_work_from_home = True
job_heatth_insurance = False
# job_no_degree_mention = True

job_work_from_home or job_heatth_insurance

True

In [ ]:
job_work_from_home = False
job_heatth_insurance = False
# job_no_degree_mention = True

job_work_from_home or job_heatth_insurance

False

In [ ]:
job_work_from_home = True
job_heatth_insurance = False
job_no_degree_mention = True

job_work_from_home or job_heatth_insurance or job_no_degree_mention

True

In [ ]:
job_work_from_home = True
job_heatth_insurance = False
job_no_degree_mention = False

job_work_from_home or job_heatth_insurance or not job_no_degree_mention

True

# **Membership**

In [ ]:
job_skills = {'sql', 'tableau', 'excel','statistics'}

In [ ]:
'sql' in job_skills

True

In [ ]:
'sql' not in job_skills

False

# **Identity**

In [ ]:
core_skills = {'sql', 'tableau', 'excel','statistics'}
luke_skill= core_skills

In [ ]:
luke_skill is core_skills

True

In [ ]:
luke_skill is not core_skills

False

## **Loops**

In [ ]:
job_list = ['data analyst','data scientist','machine learning engineer', 'data engineer', 'big data engineer','data analyst' ]

In [ ]:
analyts_list = []
for job in job_list:
    if job in 'data analyst':
        analyts_list.append(job)

In [ ]:
analyts_list

['data analyst', 'data analyst']

In [ ]:
number = [0,1,2,3,4,5]
for number in number:
  print(number)

0
1
2
3
4
5

In [ ]:
import random

names = [
    "Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah", "Ivy", "Jack",
    "Karen", "Leo", "Mona", "Nina", "Oscar", "Paul", "Quinn", "Rachel", "Sam", "Tina",
    "Uma", "Victor", "Wendy", "Xander", "Yara", "Zane", "Aaron", "Bella", "Cody", "Diana"
]

year_experience = {name: random.randint(1, 40) for name in names}

print(year_experience)

{'Alice': 36, 'Bob': 2, 'Charlie': 40, 'David': 27, 'Eve': 36, 'Frank': 12, 'Grace': 37, 'Hannah': 14, 'Ivy': 3, 'Jack': 40, 'Karen': 7, 'Leo': 29, 'Mona': 39, 'Nina': 28, 'Oscar': 37, 'Paul': 25, 'Quinn': 28, 'Rachel': 14, 'Sam': 15, 'Tina': 36, 'Uma': 36, 'Victor': 29, 'Wendy': 12, 'Xander': 23, 'Yara': 17, 'Zane': 37, 'Aaron': 26, 'Bella': 4, 'Cody': 5, 'Diana': 26}

In [ ]:
for person in year_experience:
    print(person)

Alice
Bob
Charlie
David
Eve
Frank
Grace
Hannah
Ivy
Jack
Karen
Leo
Mona
Nina
Oscar
Paul
Quinn
Rachel
Sam
Tina
Uma
Victor
Wendy
Xander
Yara
Zane
Aaron
Bella
Cody
Diana

In [ ]:
for value in year_experience.values():
    print(value)

36
2
40
27
36
12
37
14
3
40
7
29
39
28
37
25
28
14
15
36
36
29
12
23
17
37
26
4
5
26

In [ ]:
for key,value in year_experience.items():
    print(key, value)

Alice 36
Bob 2
Charlie 40
David 27
Eve 36
Frank 12
Grace 37
Hannah 14
Ivy 3
Jack 40
Karen 7
Leo 29
Mona 39
Nina 28
Oscar 37
Paul 25
Quinn 28
Rachel 14
Sam 15
Tina 36
Uma 36
Victor 29
Wendy 12
Xander 23
Yara 17
Zane 37
Aaron 26
Bella 4
Cody 5
Diana 26

In [ ]:
for key,value in year_experience.items():
    if value > 30:
        print(key, 'has', value, 'years of experience')

Alice has 36 years of experience
Charlie has 40 years of experience
Eve has 36 years of experience
Grace has 37 years of experience
Jack has 40 years of experience
Mona has 39 years of experience
Oscar has 37 years of experience
Tina has 36 years of experience
Uma has 36 years of experience
Zane has 37 years of experience

In [ ]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
count = 1
while count < 5 :
    print(count)
    count += 1

1
2
3
4

In [ ]:
year_experience

{'Alice': 36,
 'Bob': 2,
 'Charlie': 40,
 'David': 27,
 'Eve': 36,
 'Frank': 12,
 'Grace': 37,
 'Hannah': 14,
 'Ivy': 3,
 'Jack': 40,
 'Karen': 7,
 'Leo': 29,
 'Mona': 39,
 'Nina': 28,
 'Oscar': 37,
 'Paul': 25,
 'Quinn': 28,
 'Rachel': 14,
 'Sam': 15,
 'Tina': 36,
 'Uma': 36,
 'Victor': 29,
 'Wendy': 12,
 'Xander': 23,
 'Yara': 17,
 'Zane': 37,
 'Aaron': 26,
 'Bella': 4,
 'Cody': 5,
 'Diana': 26}

In [ ]:
years_list = list(year_experience.items())
years_list

[('Alice', 36),
 ('Bob', 2),
 ('Charlie', 40),
 ('David', 27),
 ('Eve', 36),
 ('Frank', 12),
 ('Grace', 37),
 ('Hannah', 14),
 ('Ivy', 3),
 ('Jack', 40),
 ('Karen', 7),
 ('Leo', 29),
 ('Mona', 39),
 ('Nina', 28),
 ('Oscar', 37),
 ('Paul', 25),
 ('Quinn', 28),
 ('Rachel', 14),
 ('Sam', 15),
 ('Tina', 36),
 ('Uma', 36),
 ('Victor', 29),
 ('Wendy', 12),
 ('Xander', 23),
 ('Yara', 17),
 ('Zane', 37),
 ('Aaron', 26),
 ('Bella', 4),
 ('Cody', 5),
 ('Diana', 26)]

In [ ]:
years_exp = {
  'luke': 3,
  'kelly': 6,
  'ken': 4,
  'alex': 3,
  'marry': 7,
}
years_exp

{'luke': 3, 'kelly': 6, 'ken': 4, 'alex': 3, 'marry': 7}

In [ ]:
years_list = list(years_exp.items())
years_list

[('luke', 3), ('kelly', 6), ('ken', 4), ('alex', 3), ('marry', 7)]

In [ ]:
year = 0
index = 0

year_lst = list(years_exp.items())

while year < 5:
  key, year = year_lst[index]

if year >= 5:
  print(key, year)
  index += 1

# **List Comprehension**

In [ ]:
numbers = [x for x in range(11)]
numbers

In [ ]:
#Without comprehension
numbers =[]
for number in range(11):
  numbers.append(number)
numbers

In [ ]:
numbers = [x*2 for x in range(11)]
numbers

In [ ]:
numbers = [float(x) for x in range(11)]
numbers

In [ ]:
analyts_list = []
for job in job_list:
    if job in 'data analyst':
        analyts_list.append(job)

analyts_list

In [ ]:
analyts_list = [job for job in job_list if job in 'data analyst']
analyts_list

Exercise Basic

In [ ]:
# Define data science job roles and required skills
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]
# My skills
my_skills = ['Python', 'SQL', 'Excel']

In [ ]:
#1 loop through the skills
for job in job_roles:
  print(job['skills'])

In [ ]:
qualified_roles = []

for job in job_roles:
  qualified = True

  for skills in my_skills:
    if skills not in job['skills']:
      qualified = False
      break

  if qualified:
    qualified_roles.append(job['role'])

qualified_roles

In [ ]:
#short method to find what job role you are suitable for. By matching the skills in my_skills with those in the skills key of the job_roles dict
qualified_roles = []

for job in job_roles:
  #cheak if all required skills are in my skills
  if all(skills in job['skills'] for skills in my_skills):

    qualified_roles.append(job['role'])

qualified_roles

# *** Functions**

# **1. Build-In-Function**

In [ ]:
print('helo')

In [ ]:
len('hello')

In [ ]:
type({1,2,3})

In [ ]:
range(5)

In [ ]:
help(str)

In [ ]:
max(1,2,3)

In [ ]:
min(1,2,3)

In [ ]:
pow(2,3)

In [ ]:
import math as m
a = m.sqrt(4)
a

In [ ]:
import math as m
a = m.ceil(4.9)
a

In [ ]:
import math as m
a = m.floor(4.9)
a

# **2. User-Defined-Function**

In [ ]:
salary_list = [100000,200000,150000,120000,80000,750000]

def calculate_salary(base_salary,bonus_rate=.1):

  return base_salary * (1 + bonus_rate)

total_salary_list = [calculate_salary(salary) for salary in salary_list]

total_salary_list

# **Lambda**

In [ ]:
#With Lambda
salary_list = [100000,200000,150000,120000,80000,750000]

total_salary_list = [(lambda x: x*1.1)(salary) for salary in salary_list]

total_salary_list

In [ ]:
#simple
salary_list = [100000,200000,150000,120000,80000,750000]

total_salary_list = [salary *1.1 for salary in salary_list]

total_salary_list

# **Data Filtering With Lambda**

In [ ]:
job_data = [
    {"job_title": "Data Scientist","job_skills": ["Python", "Statistics", "Machine Learning", "Data Visualization"],"remote": True},
    {"job_title": "Data Analyst","job_skills": ["SQL", "Excel", "Data Cleaning", "Data Visualization"],"remote": True},
    {"job_title": "Machine Learning Engineer","job_skills": ["Python", "TensorFlow", "Machine Learning", "Deep Learning"],"remote": False},
    {"job_title": "Data Engineer","job_skills": ["SQL", "ETL", "Big Data", "Python"],"remote": True},
    {"job_title": "Business Intelligence Analyst","job_skills": ["Power BI", "SQL", "Data Modeling", "Dashboarding"],"remote": False}
]

print(job_data)

In [ ]:
list(filter(lambda job: job['remote'] and 'Python' in job['job_skills'], job_data))

# **Module**

In [ ]:
from my_module import *

In [ ]:
my_module.skill('python')

'python is my favourate skill!'

In [ ]:
import job_analyzer as ja

ja.calcu_salary(100000)

110000.00000000001

In [ ]:
from job_analyzer import *

calcu_salary(100000)

calcu_bonus(110000,100000)

0.1

In [ ]:
help(calcu_salary)

Help on function calcu_salary in module job_analyzer:

calcu_salary(base_salary, bonus_rate=0.1)
    Calculate the total salary based on the bonus salary and bonus rate.

    Args:
    base_salary (float): The Base Salary
    bonus_rate (float): The Bonus Rate. By default it's .1.

    Returns:
    total_salary (float): The Total Salary

In [ ]:
help(calcu_bonus)

Help on function calcu_bonus in module job_analyzer:

calcu_bonus(total_salary, base_salary)
    Calculates the Bonus rate based on the total salary and base salary.

    Args:
    total_salary (float): The Total Salary
    basle_salary (float): The Base Salary

    Returns:
    bonus_rate(float): The Bonus Rate

# **Statistics Module**

In [ ]:
lst = [98000,101000,102000,99000,97000]

In [ ]:
import statistics as st

st.mean(lst)

99400

In [ ]:
from statistics import mean,median,mode

mean(lst)

98000

In [ ]:
median (lst)

99000

In [ ]:
mode(lst)

98000

99400

# **Data Cleaning using Library**

In [ ]:
data_science_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': "['Python', 'SQL', 'Machine Learning']", 'job_date': '2023-05-12'},
    {'job_title': 'Machine Learning Engineer', 'job_skills': "['Python', 'TensorFlow', 'Deep Learning']", 'job_date': '2023-05-15'},
    {'job_title': 'Data Analyst', 'job_skills': "['SQL', 'R', 'Tableau']", 'job_date': '2023-05-10'},
    {'job_title': 'Business Intelligence Developer', 'job_skills': "['SQL', 'PowerBI', 'Data Warehousing']", 'job_date': '2023-05-08'},
    {'job_title': 'Data Engineer', 'job_skills': "['Python', 'Spark', 'Hadoop']", 'job_date': '2023-05-18'},
    {'job_title': 'AI Specialist', 'job_skills': "['Python', 'PyTorch', 'AI Ethics']", 'job_date': '2023-05-20'}
]

In [ ]:
#datetime
from datetime import datetime as da

In [ ]:
da.now()

NameError: name 'da' is not defined

In [ ]:
#cheaking the data type of the job_date in data_science_jobs.
type(data_science_jobs[0]['job_date'])

#it should be datetime but its string

str

In [ ]:
# convert one job_date to data type datetime
test_date = data_science_jobs[0]['job_date']

print(da.strptime(test_date, '%Y-%m-%d'))

2023-05-12 00:00:00

In [ ]:
#looping it for all
for job in data_science_jobs:
  job['job_date'] = da.strptime(job['job_date'], '%Y-%m-%d')

In [ ]:
# double cheaking
type(data_science_jobs[0]['job_date'])

datetime.datetime

In [ ]:
# It should be a list but its a str
type(data_science_jobs[0]['job_skills'])

str

In [ ]:
# converting job_skills from str to data type list
import ast

for job in data_science_jobs:
  job['job_skills'] = ast.literal_eval(job['job_skills'])

In [ ]:
#recheak
type(data_science_jobs[0]['job_skills'])

list